<!DOCTYPE html>
<html>
  <head>
    <title>By ID</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('../Partials/topNav.ejs') %>
 <body>
     
   
<div class="table-data">
    <h2>Customer By Id</h2>
        <table border="1">
            <tr>
                <th>index</th>
                <th>fullName</th>
                <th>Phone</th>
            </tr>
            <%
             if( resultdata.length!=0){
                           
            %>
            <tr>
                <td><%=resultdata.customerNumber%></td>
                <td><%=resultdata.customerName%></td>
                <td><%=resultdata.customerName%></td>
                </tr>
                <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
                <% } %>
        </table>
        </div>
</body>
</html>








  