<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <body>
    <div class="table-data">
        <h2>Display Data using Node.js & MySQL</h2>
            <table border="1">
                <tr>
                    <th>fullName</th>
                    <th>Phone</th>
                </tr>
                
                <%=
                if( resultdata.length!=0){
                var i=1;
                resultdata.records.forEach(function(record){
                %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=record.customerName%></td>
                    <td><%=<record class="phone"></record> %></td>
                    </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </table>
            </div>
</body>
</html>








  