<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include('../Partials/topNav.ejs') %>
  <body>
    <h1></h1>
    <p>Welcome to ProductRUs<%= title %></p>
  </body>
</html>
